/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.\#*
/resources/desktop
/resources/mobile
/resources/extension
/resources/public/js
/resources/public/config.edn
/intermediate
/.repl
