{:name "tester"
 :author {:author-name "me"
          :author-id "me.woot.corp"
          :email "woot@tester.com"
          :url "http://www.testme.com"
          :contributors ["the lambda monster"
                         "a super-community"]}
 :version "0.1.0-SNAPSHOT"
 :license ""
 :description "FIXME: write this!"
 :default-locale "en"
 :extensions {
              :platforms ["firefox" "chrome" "opera" "safari"]

              :private true

              :action {:type "browser" ; Either browser or page
                       :default-icon [{:size "19" :src "my-action-icon19.png"}
                                      {:size "38" :src "my-action-icon38.png"}]
                       :default-title "example title"
                       :default-popup "popup.html"}

              :background {:scripts ["background.js"]
                           :persistent false}

              ;; For firefox use inject pageMod at compile time
              :content {:matches ["http*www.woot.com"]
                        :exclude ["*bad-stuff*"]
                        :css ["mystyles.css"]
                        :js ["special-script.js" "myscript.js"]}

              :icons {:chrome [{:size "16" :src "my-chrome-icon16.png"}
                               {:size "48" :src "my-chrome-icon48.png"}
                               {:size "128" :src "my-chrome-icon128.png"}]
                      :firefox [{:size "48" :src "icon48.png"}
                                {:size "64" :src "icon64.png"}]
                      :opera [{:size "16" :src "icon16.png"}
                              {:size "48" :src "icon48.png"}
                              {:size "128" :src "icon128.png"}]
                      :safari [{:size "48" :src "Icon.png"}
                               {:size "64" :src "Icon-64.png"}]}

              :homepage "https://www.my-cool-site.com"

              :options-page "options.html"

              :permissions ["tabs"
                            "https://www.wahoo.com/"
                            "https://www.yoogle.com/"]

              :update-url {:chrome "https://your-repo.com/somewhere/chrome"
                           :firefox "https://your-repo.com/somewhere/firefox"
                           :opera "https://your-repo.com/somewhere/opera"
                           :safari "https://your-repo.com/somewhere/safari"}

              :web-accessible-resources ["https://www.my.server.com/stuff.js"
                                         "https://www.another-server.com/woot.img"]

              :incognito "spanning"

              :requirements {:3D {:features ["webgl"]}}

              :sandbox {:page ["page1.html"
                               "some-dir/page2.html"]
                        :content-security-policy "sandbox allow-scripts; script-src https://www.google.com"}

              :extra {:chrome
                      {:chrome-ui-overrides {:bookmark-ui
                                             {:remove-button true
                                              :remove-bookmark-shortuct true}}
                       :chrome-settings-overrides {:homepage "http://www.homepage.com"
                                                   :startup-pages ["http://www.startup.com"]
                                                   :search-provider {:name "name.__MSG_url_domain__"
                                                                     :keyword "keyword.__MSG_url_domain__"
                                                                     :search-url "http://www.foo.__MSG_url_domain__/s?q={searchTerms}"
                                                                     :favicon-url "http://www.foo.__MSG_url_domain__/favicon.ico"
                                                                     :suggest-url "http://www.foo.__MSG_url_domain__/suggest?q={searchTerms}"
                                                                     :instant-url "http://www.foo.__MSG_url_domain__/instant?q={searchTerms}"
                                                                     :image-url "http://www.foo.__MSG_url_domain__/image?q={searchTerms}"
                                                                     :search-url-post-params "search_lang=__MSG_url_domain__"
                                                                     :suggest-url-post-params "suggest_lang=__MSG_url_domain__"
                                                                     :instant-url-post-params "instant_lang=__MSG_url_domain__"
                                                                     :image-url-post-params "image_lang=__MSG_url_domain__"
                                                                     :alternate-urls ["http://www.moo.__MSG_url_domain__/s?q={searchTerms}"
                                                                                      "http://www.noo.__MSG_url_domain__/s?q={searchTerms}"]
                                                                     :encoding "UTF-8"
                                                                     :prepopulated-id 2 ;TODO: new key here
                                                                     :is-default true}}
                       :chrome-url-overrides {:some-builtin-page "my-bookmarks.html"}
                       :commands {:do-something {:suggested-key "Ctrl+Shift+d"
                                                 :description "does something"}}
                       :current-locale "en_US"
                       :devtools-page "new-devtool.html"
                       :externally-connectable {:ids ["aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                                                      "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"]
                                                :matches ["https://*.google.com/*"
                                                          "*://*.chromium.org/*"]
                                                :accepts-tls-channel-id false}
                       :file-browser-handlers [{:id "upload"
                                                :default-title "Save to Gallery"
                                                :file-filters ["filesystem://*.jpg"
                                                               "filesystem://*.png"]}]
                       :import "" ; TODO: find what :import does
                       :input-components [{:name "My IME" ; A user visible name.
                                           :type "ime"  ; The type of input component.
                                           :id "my_ime"   ; The id that will be passed to callbacks
                                           :description "My Input method for Japanese"  ; A user visible description
                                           :language "ja" ; The primary language this IME is used for
                                           ;; FIXME: is vector the correct thing for layouts?
                                           :layouts ["jp::jpn" "us:dvorak:eng"]}]  ; The supported keyboard layouts for this IME,
                       :minimum-chrome-version "15.0"
                       :nacl-modules [{:path "OpenOfficeViewer.nmf"
                                       :mime-type "application/vnd.oasis.opendocument.spreadsheet"}]
                       :oauth2 {:client-id "665859454684.apps.googleusercontent.com"
                                :scopes ["https://www.googleapis.com/auth/drive"]}
                       :offline-enabled true
                       :omnibox {:keyword "woots"}
                       :optional-permissions ["https://www.google.com"]
                       :platforms [] ; TODO: find what :platforms does
                       :script-badge "" ; TODO: find what :script-badge does
                       :short-name "test"
                       :signature "" ; TODO: find what :signature does
                       :spellcheck true ; TODO: find what :spellcheck does (or how to implement it)
                       :storage {:managed-schema "schema.json"}
                       :system-indicator {} ; TODO: find what :system-indicator does
                       :tts-engine {:voices [{:voice-name "Hanz"
                                              :lange "no"
                                              :gender "male"
                                              :event-types ["start" "end" "error"]}]}}

                      :firefox {:dependencies ["jquery" "D3"]
                                :lib "some-dir/woot"
                                :main "not/main"
                                :name "noSpacesOrPeriods"
                                :packages "cool/packages"
                                :permissions {:cross-domain-content ["https://www.wahoo.com/"
                                                                     "https://www.yoogle.com/"]}
                                :preferences [{:name "some pref"
                                               :title "pref title"
                                               :description "this is a description"
                                               :type "string"
                                               :value "woot woot, I'm a default string"}]
                                :preferences-branch "some/alt/prefs" ; TODO: make sure this is correct (probly not)
                                :tests "tests"
                                :title "even moar titles"
                                :translators ["frank-the-translator"
                                              "jennie-the-translita"]}

                      :safari {:bars [{:Filename "bar.html"
                                       :Identifier "some bar id"
                                       :Label "some bar label"}]
                               :context-items [{:Command "console.log(\"woohoo it's context!\");"
                                                :Identifier "some wooting context id"
                                                :Title "I show up on hover"}]
                               :menus [{:Identifier "my coll menu"
                                        :Command "yourCommand.menu.here()"
                                        :Disabled true
                                        :Menu-Identifier "my little menu item"
                                        :Title "menu item woot"}]

                               ;; Target output for config.clj
                               ;;  [{:Identifier "my cool menu" ; FIXME: check other menu options!
                               ;; :Menu-.-Items [{:Command "yourCommand.menu.here();"
                               ;; :Disabled true
                               ;; :Identifier "my little menu item"
                               ;;                  :Title "menu item woot" }]}]
                                 :popovers [{:Filename "popup.html"
                                             :Height 200
                                             :Width 200
                                             :Identifier "super neat popover"}]
                                 :toolbar [{:Command "someToolbar.command();" ; tokenize "Toolbar Items"
                                            :Identifier "woot.toolbar"
                                            :Image "toolbar.png"
                                            :Label "some-label"
                                            :Menu "my cool menu"
                                            :Pallete "my cool tool"
                                            :Popover "super neat popover"
                                            :Tool-.-tip "hover to see this"}] ; tokenize "Tool Tip"
                                 :database-quota 1048576 ;tokenize "Database Quota"
                                 :start-scripts ["adblocker.js"] ;fired before dom is loaded, usually to block unwanted content (ads)
                                 :access-level "Some" ; None/Some/All
                                 :global-page "global.html"
                                 }
                                }
                               }

 :mobile {
          :id "com.example.tester"

          :platforms ["amazon-fire" "android" "blackberry" "firefoxos" "ios"
                      "ubuntu" "wp7" "wp8" "tizen"]

          :preferences {;; global
                        :fullscreen "true"
                        :orientation "default"

                        ;; Amazon-Fire + Android
                        :KeepRunning "false"
                        :LoadUrlTimeout "10000"
                        :Splashscreen "mySplash"
                        :SplashScreenDelay "true"
                        :LoadingDialog "My Title, My Message"
                        :LoadingPageDialog "My Title, My Message"
                        :ErrorUrl "myErrorPage.html"
                        :ShowTitle "true"
                        :LogLevel "VERBOSE"

                        ;; Android only
                        :InAppBrowserStorageEnabled "true"
                        :AndroidLaunchMode "SingleTop"

                        ;; Android + Blackberry
                        :BackgroundColor "0xff0000ff"

                        ;; Blackberry
                        :ChildBrowser "disable"
                        :PopupBlocker "enable"
                        :WebSecurity "disable"

                        ;; Blackberry + iOS
                        :HideKeyboardFromAccessoryBar "true"

                        ;; Android + iOS
                        :DisallowOverscroll "true"

                        ;; iOS only
                        :EnableViewportScale "true"
                        :MediaPlaybackRequiresUserAction "true"
                        :AllowInlineMediaPlayback "true"
                        :BackupWebStorage "local"
                        :TopActivityIndicator "white"
                        :KeyboardDisplayRequiresUserAction "false"
                        :SuppressesIncrementalRendering "true"
                        :GapBetweenPages "0"
                        :PageLength "0"
                        :PaginationBreakingMode "page"
                        :PaginationMode "unpaginated"
                        :UIWebViewDecelerationSpeed "fast"

                        ;; Windows Phone only
                        :windows-target-version "8.1"}

          :icons {:global {:src "icon.png"}

                  :amazon-fire [{:src "res/icon/amazon-fire/icon-36-ldpi.png" :density "ldpi"}
                                {:src "res/icon/amazon-fire/icon-48-mdpi.png" :density "mdpi"}
                                {:src "res/icon/amazon-fire/icon-72-hdpi.png" :density "hdpi"}
                                {:src "res/icon/amazon-fire/icon-96-xhdpi.png" :density "xhdpi"}]

                  :android [{:src "res/icon/android/icon-36-ldpi.png" :density "ldpi"}
                            {:src "res/icon/android/icon-48-mdpi.png" :density "mdpi"}
                            {:src "res/icon/android/icon-72-hdpi.png" :density "hdpi"}
                            {:src "res/icon/android/icon-96-xhdpi.png" :density "xhdpi"}]

                  :blackberry [{:src "res/icon/blackberry/icon-80.png"}]

                  :ios  [{:src "src/icon/ios/icon-57.png" :width "54" :height "54"}
                         {:src "src/icon/ios/icon-72.png" :width "72" :height "72"}
                         {:src "src/icon/ios/icon-57-2x.png" :width "114" :height "114"}
                         {:src "src/icon/ios/icon-72-2x.png" :width "144" :height "144"}]

                  :tizen [{:src "res/icon/tizen/icon-128.png" :width "128" :height "128"}]

                  :wp8 [{:src "res/icon/windows-phone/icon-48.png"}
                        {:src "res/icon/windows-phone/icon-173.png"}]}

          :splash {:android [{:src "res/screen/android/screen-ldpi-portrait.png" :density "port-ldpi"}
                             {:src "res/screen/android/screen-mdpi-portrait.png" :density "port-mdpi"}
                             {:src "res/screen/android/screen-hdpi-portrait.png" :density "port-hdpi"}
                             {:src "res/screen/android/screen-xhdpi-portrait.png" :density "port-xhdpi"}]

                   :blackberry [{:src "res/screen/blackberry/screen-225.png"}]

                   :ios [{:src "res/screen/ios/screen-iphone-portrait.png" :width "320" :height "480"}
                         {:src "res/screen/ios/screen-iphone-portrait-2x.png" :width "640" :height "960"}
                         {:src "res/screen/ios/screen-iphone-portrait-568h-2x.png" :width "640" :height "1136"}
                         {:src "res/screen/ios/screen-ipad-portrait.png" :width "768" :height "1024"}
                         {:src "res/screen/ios/screen-ipad-landscape.png" :width "1024" :height "768"}]

                   :wp8 [{:src "res/screen/windows-phone/screen-portrait.jpg"}]}

          :permissions ["https://www.wahoo.com/"
                        "https://www.yoogle.com/"]

          :content "index.html"

          ;; since manifest.webapp is not in Cordova's config.xml, let's make a special section for it
          :firefoxos {:icons [{:size "128" :src "/img/icon-128.png"} ;FIXME: output this in config.xml too?
                              {:size "512" :src "/img/icon-512.png"}]
                      :type "privileged"
                      ;; Each item can have href, disposition, filters, and return
                      :activities {:browse {:filters {:type ["photos"]}}
                                   :configure {:filters {:target ["device"]}}
                                   :pick {:href "./pick.html"
                                          :disposition "inline"
                                          ;; the filter is tricky to implment, let's just stick to an array, no definition objects
                                          :filters {:type ["image/*" "image/jpeg" "image/png"]}
                                          :returnValue true}}
                      :appcache "/cache.manifest"
                      :chrome {:navigation true} ; best to write your own and make this false
                      ;; All local JS+CSS must be indexed here before dropping <script> and <link rel="stylesheet"... tags into the HTML.
                      ;; No remote JS or CSS, but can use a URI with a postMessage()
                      ;; Privileged apps can use <style> (inline) or style="" tags, certified can't (most never make certified apps anyway)
                      ;; No inline events (onClick, onMouseOver) use addEventListener() instead (React.js does this by default)
                      ;; This CSP only strengthens the default security restrictions of firefoxos (makes security tighter, never looser).
                      ;; NOTE: not including the csp option for now
                      ;; NOTE: no datastore stuff because those are for pre-installed (certified) apps
                      :fullscreen true ; best to keep this as true
                      :installs-allowed-from ["https://marketplace.firefox.com"] ;default "*", no trailing slash!
                      ;; This specifies optional app manifest fields to override too, different from general locales
                      :locales {:it {:name "L' Open Web"
                                     :description "Eccitante azione di sviluppo web open!"}
                                :de {:name "Der Open Web"
                                     :description "Spannende offene Web-Entwicklung-Action!"}}
                      :messages [{:telephony-new-call "/dialer/index.html#keyboard-view"}]
                      ;; use the persona polyfill if included in non-firefox stuff
                      :orientation ["landscape-primary"]
                      :origin "app://mywebapp.com" ;must start with "app://"
                      :permissions {:contacts {:description "Required for autocompletion in the share screen"
                                               :access "readcreate"}
                                    :alarms {:description "Required to schedule notifications"}
                                    :video-capture {:description "Required so I can take cool videos :D"}}
                      :precompile ["game.js" "database.js"]
                      :redirects [{:from "http://facebook.com/authentication/success.html"
                                     :to "/app/main_interface.html"}]
                      :role "system" ;not sure if actually necessary but including anyway
                      }
          }


 :desktop {
           :platforms ["osx32" "osx64" "windows32" "windows64" "linux32" "linux64"]
           :main "init.html"
           :nodejs true
           :node-main "core/nodejs.js"
           :single-instance true
           :user-agent {:name "openbsd"
                        :ver "5.5"
                        :nwver "1.0"
                        :webkit-ver "20.0"
                        :osinfo "??"}
           :permissions ["foobar.com", "*foobar.com"]
           :chromium-args "--disable-threaded-compositing --enable-smooth-scrolling"
           :js-flags "--harmony_proxies --harmony_collections"
           :inject-js-start "core.pre-load.js"
           :inject-js-end "core.post-load.js"
           :snapshot "new/snapshot-8.js"
           :dom-storage-quota 10
           :keywords ["so fun", "way cool", "wow", "totally app"]
           :bugs "http://my.bug-report.com"
           ;; FIXME: in the config I only allow for one repo but should
           ;; allow multiple in the future
           :repositories [{:type "git"
                           :url "http://github.com/example.git"
                           :path "packages/mypackage"}]

           :window {:title "my app"
                    :width 800
                    :height 500
                    :toolbar true
                    :icon "core/misc/icon.png"
                    :position "mouse"
                    :min-width 400
                    :min-height 200
                    :max-width 800
                    :max-height 600
                    :as-desktop true
                    :resizable true
                    :always-on-top false
                    :fullscreen true
                    :show-in-taskbar true
                    :frame true
                    :show true
                    :kiosk false}

           :webkit {:plugin false
                    :java true
                    :page-cache false}}}


;; http://stackoverflow.com/questions/11853046/how-to-exclude-sites-in-a-firefox-addon-contentscript-using-pagemod
