/* Basic style for the config gui */

body {
    background-color:  #ecf0f1;
}

section {
    background-color:  #BDC3C7;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    margin-right: 2em;
}

h4,input,button,div {
    margin-left: 1em;
}

.nav {
    background-color: #42526C;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    padding: 1em;
    height: 2em;
}

.nav a {
    color: #E0EEEE;
    text-decoration: none;
}

.nav li ul {
    display: none;
}

.nav li {
    float: left;
    padding-left: 1em;
    padding-bottom: 0.3em;
}

.nav ul li {
    display: block;
    position: relative;
}

.nav li:hover ul {
    display: block;
    position: absolute;
}

.nav li:hover li {
    background-color: #BDC3C7;
    color: azure;
    border: 3px solid black;
    padding-top: 0.3em;
    padding-right: 0.3em;
    padding-left: 0.4em;
}

.nav a:hover {
    color: #60AFFE;
    cursor: hand;
    cursor: pointer;
}

ul {
    list-style: none;
}
