{:mobile {:platforms []}, :desktop {:inject-js-start "", :repositories {:type "git"}, :bugs "mysite.com", :keywords ["woot" "browsering"], :dom-storage-quota 10, :single-instance true, :nodejs true, :main "main.html", :platforms []}, :default-locale "en_US", :description "Super cool!", :version "0.1.0-SNAPSHOT", :name "tester", :author {:author-name "me", :author-id "me.woot.corp", :email "woot@tester.com", :url "http://www.testme.com", :contributors ["the lambda monster" "a super-community"]}}